@import url('https://fonts.googleapis.com/css?family=Varela+Round');
body{
  display:inline-block;
  width:100%;
  margin:0px;
}




.nav-button{
  height:100%;
  background-color: #332F2F;
  font-family: "Varela Round" ,sans-serif;
  font-size:5vw;
  transition: ease-in-out 150ms;
  padding:4vw;
  cursor:pointer;
}
.nav-button:hover{
font-size:6vw;
}

#Hello{
  position: relative;
  color:#00C9F2;
  border-left: 1vw solid #00C9F2;
}
#Skills{
  position: relative;
  color:#0081F2;
  border-left: 1vw solid #0081F2;
}

#Contact{
  position: relative;
  color:#5000F2;
  border-left: 1vw solid #5000F2;
}

a:link{
  color:inherit;
}
a:active{
  color:inherit;
}
a:visited{
  color:inherit;
}
a:hover{
  color:inherit;
}
