@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
body{
  display:inline-block;
  width:inherit;
  margin:0px;
  background-color: #332F2F;
}

#home-button{
  position:relative;
  color:#00C9F2;
  cursor:pointer;
}

#avatar{
  border-radius:10%;
  width:17vw;
  height:auto;
  position:absolute;
  left:15vw;
  top:35vh;
  filter:drop-shadow(2px 2px 5px #00C9F2);
}

#hello-message{
  color:#00C9F2;
  font-family: 'Gloria Hallelujah', cursive;
  font-size:3vw;
  position:absolute;
  left:45vw;
  top:40vh;
}

a:link{
  color:inherit;
}
a:active{
  color:inherit;
}
a:visited{
  color:inherit;
}
a:hover{
  color:inherit;
}
