@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Droid+Sans');
body{
  display:inline-block;
  width:100%;
  margin:0px;
}

.bck_grnd{
  font-size:7vw;
  background-color:#332F2F;
  height:7vh;
}

.icon_color{
  color:#5000F2;
}
#home-button{
  cursor:pointer;
  font-size: 6vw;
}

#more{
  color:#5000F2;
  font-family: 'Dancing Script','cursive', 'monospace';
  font-size:5vw;
  position:absolute;
  left:12vw;
  top:65vh;
  cursor:pointer;
}
#linkedin{
  font-size:10vw;
  position:absolute;
  left:20vw;
  top:35vh;
  cursor:pointer;
}

#melmax{
  color:#5000F2;
  font-family: 'Droid Sans', 'sans-serif';
  font-size: 3vw;
  position:absolute;
  left:60vw;
  top:68vh;
  cursor:pointer;
}

#email{
  font-size:10vw;
  position: absolute;
  left:70vw;
  top:35vh;
  cursor:pointer;
}


a:link{
  color:inherit;
}
a:active{
  color:inherit;
}
a:visited{
  color:inherit;
}
a:hover{
  color:inherit;
}
