html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  all: unset;
  text-decoration: underline;
  cursor: pointer;
}

a:active {
  opacity: 0.5;
}

img {
  border: 2px solid black;
  padding: 2px;
  border-radius: 5px;
  max-width: 100%;
  height: auto;
}