.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
}

.intro {
  align-items: center;
  width: 75vw;
  text-align: center;
  font-size: larger;
  word-spacing: 0.3vw;
}

.link {
  all: unset;
  text-decoration: underline;
  cursor: pointer;
}

.link:active {
  opacity: 0.5;
}

.linksContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70vw;
}

.xLargeFont {
  font-size: x-large;
}
