.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
}

.intro {
  align-items: center;
  width: 75vw;
  text-align: center;
  font-size: larger;
}

.linksContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70vw;
}

.xLargeFont {
  font-size: x-large;
}
