.titleSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.content {
  font-size: large;
  line-height: 25px;
  letter-spacing: 0.5px;
}

/* targetting all img tags in the blog content */
.content > div > p > img {
  border: 2px solid var(--fg);
  padding: 2px;
  border-radius: 5px;
  max-width: 100%;
  height: auto;
}

@media (max-width: 600px) {
  .titleSection {
    flex-direction: column;
    align-items: flex-start;
  }
}